@charset "UTF-8";
/*
  base
 */


 
*{
  box-sizing:border-box;
}


body{
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

a {
  text-decoration: none;
}