
<!DOCTYPE html>
<html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
<head>
<title>CONTACT / Miutt</title>
<meta charset="SHIFT-JIS"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="keywords" content="キーワード" />
<meta name="description" content="ディスクリプション" />
<meta id="dviewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=2.0;">

<link rel="shortcut icon" href="miutt.ico" type="image/ico" />

<meta content="miutt" property="og:title" />
<meta content="article" property="og:type" />
<meta content="" property="og:url" />
<meta content="#" property="og:image" />
<meta content="" />
<meta content="miutt" property="og:site_name" />

<link href="../assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="../assets/js/default.js"></script>
</head>

<body class="page--contact"

<% include ../module/_header %>

<div class="contact__container">
    <div class="section section--error">
    <h2 class="title title--secondary">ご入力内容に誤りがあります</h2>
    <form method="post" action="" name="form00" id="form00">
    <div class="form">
    <!-- 確認 -->
        <div class="form__item form-input">
            <p class="text text-sm text--pd text--label">お名前／会社名</p>
            <p class="text text-lg text--pd">_#Name <span class="text--red">_#NamError</span></p>
        </div>
    
        <div class="form__item form-input">
            <p class="text text-sm text--pd text--label">メールアドレス</p>
            <p class="text text-lg text--pd">_#Email <span class="text--red">_#EmError</span></p>
        </div>
    
        <div class="form__item form-textarea-re">
            <p class="text text-sm text--pd text--label">お問い合わせ内容・ご質問などをご記入ください</p>
            <p class="text text-lg text--pd">_#Etc <span class="text--red">_#EtError</span></p>
        </div>
    
        <div class="form__item form-btn">
            <input type="reset" name="reset" onclick="history.back()" value="戻る / BACK">
        </div>
    <!-- 確認 -->
    </div><!-- /.form -->
    </form>
    </div><!-- /.section -->

</div>
<% include ../module/_footer %>
</body>
</html>
