<%
var data = {
  dir: '../',
};
%>
<!DOCTYPE html>
<html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
<head>
<title>CONTACT / Miutt</title>
<meta charset="SHIFT-JIS"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="keywords" content="キーワード" />
<meta name="description" content="ディスクリプション" />
<meta id="dviewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=2.0;">

<link rel="shortcut icon" href="miutt.ico" type="image/ico" />

<meta content="miutt" property="og:title" />
<meta content="article" property="og:type" />
<meta content="" property="og:url" />
<meta content="#" property="og:image" />
<meta content="" />
<meta content="miutt" property="og:site_name" />

<link href="../assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="../assets/js/default.js"></script>

</head>

<body class="page--contact">

<% include ../module/_header %>

<div class="contact__container">
    <div class="section section--check">
        <h2 class="title--secondary">お問い合わせ内容の確認</h2>
        
        <form method="post" action="contact.cgi" name="form00" id="form00">
        <input type=hidden name="お名前" value="_#Name">
        <input type=hidden name="E-mail" value="_#Email">
        <input type=hidden name="お問い合せ内容" value="_#Etc">
        
        <div class="form">
        
        <!-- 確認 -->
            <div class="form__item form-input">
                <p class="text text-sm text--pd text--label">お名前／会社名(Name / Company Name)</p>
                <p class="text text-lg text--pd">_#Name</p>
            </div>
        
            <div class="form__item form-input">
                <p class="text text-sm text--pd text--label">メールアドレス(e-mail)</p>
                <p class="text text-lg text--pd">_#Email</p>
            </div>
        
            <div class="form__item form-textarea-re">
                <p class="text text-sm text--pd text--label">お問い合わせ内容・ご質問などをご記入ください (Please input an inquiry matter.)</p>
                <p class="text text-lg text--pd">_#Etc</p>
            </div>
        
            <div class="form__item form-btn">
                <input type="reset" name="reset" onclick="history.back()" value="戻る / BACK">
                <input type="submit" name="submit" value="送信 / SUBMIT">
            </div>
        
        <!-- 確認 -->
        </div><!-- /.form -->
        </form>
    </div><!-- /.section -->
</div>

<% include ../module/_footer %>

   
</body>
</html>
