<%
var data = {
  title: '問い合わせ FEEL AND TASTE',
  keyword: 'FEEL AND TASTE,カバン,通販',
  desc: 'contact FEEL AND TASTE description'
};
%>
<% include ../module/_head %>
<body class="page--contact">

<% include ../module/_header %>
<div class="contact__container">
    <!-- thanks -->
    <div class="section section--thx">
        <h2 class="title--secondary">お問い合せありがとうございました</h2>
        <p class="text text-desc">
            お問い合わせ内容は、<br>
            ご入力いただいたメールアドレス宛てに控えとしてお送りしています。<br>
            お問い合わせの内容により、<br>
            ご連絡までにお時間をいただく場合がございます。<br>
            あらかじめご了承いただけますようお願い申し上げます。<br>
            ご利用ありがとうございました。
        </p>
    </div><!-- /.section -->
    <!-- thanks -->
    <div class="section section--close">
        <div class="form-btn">
            <a class="form-btn-anchor" href="javascript:window.open('about:blank','_self').close();">閉じる ／ CLOSE</a>
        </div>
    </div>
</div>


<% include ../module/_footer %>

    <script type="text/javascript" src="../assets/js/default.js"></script>
</body>
</html>
