<!DOCTYPE html>
<html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
<head>
<title>CONTACT / Miutt</title>
<meta charset="SHIFT-JIS"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="keywords" content="キーワード" />
<meta name="description" content="ディスクリプション" />
<meta id="dviewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=2.0;">

<link rel="shortcut icon" href="miutt.ico" type="image/ico" />

<meta content="miutt" property="og:title" />
<meta content="article" property="og:type" />
<meta content="" property="og:url" />
<meta content="#" property="og:image" />
<meta content="" />
<meta content="miutt" property="og:site_name" />

<link href="../assets/css/style.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body class="page--contact">
<% include ../module/_header %>
<div class="contact___container">
        <div class="section section--title">
                <h1 class="title title--imgtxt title--contact">
                    <span>contact</span>
                    <img src="/assets/image/title--contact.png" alt="contact">
                </h1>
            </div><!-- /.section -->
            
            <div class="section section--desc">
                <p class="text text--pd">
                FEEL AND TASTEに関するお問い合わせやご依頼など、お気軽にご連絡ください。<br>
                お送りいただいた内容は、控えとしてお客様のメールアドレスにも送信されます。<br>
                その後、担当者より折り返しメールにてご連絡させていただきます。<br>
                </p>
            </div><!-- /.section -->
            
            
            <div class="section section--form">
            <form method="post" action="contact.cgi" name="form00" id="form00">
            <!-- 入力確認画面をだす -->
            
            <input type=hidden name="_check" value="1">
            <input type=hidden name="_Name" value="お名前">
            <input type=hidden name="_Email" value="E-mail">
            <input type=hidden name="_Etc" value="お問い合せ内容">
            
            <div class="form">
            
                <div class="form__item form-input need">
                    <input type="text" name="お名前" id="name" value="" placeholder="お名前／会社名">
                </div>
            
                <div class="form__item form-input need">
                    <input type="email" name="E-mail" id="email" value="" placeholder="メールアドレス">
                </div>
            
                <div class="form__item form-textarea">
                    <p class="text text--pd text--sub">
                        お問い合わせ内容・ご質問などをご記入ください
                    </p>
                    <textarea name="お問い合せ内容" id="message" cols="80" rows="10"></textarea>
                </div>
                
                <p class="text text--pd text--sub">
                    上記の内容でよろしければ確認ボタンを押してください。
                </p>
            
                <div class="form__item form-btn">
                    <input type="submit" name="submit" value="確認 ／ CHECK">
                </div>
            
            </div><!-- /.form -->
            
            </form>
            
            </div><!-- /.section -->

</div>

<% include ../module/_footer %>

</body>
</html>
