<%
var data = {
  title: '問い合わせ FEEL AND TASTE',
  keyword: 'FEEL AND TASTE,カバン,通販',
  desc: 'contact FEEL AND TASTE description'
};
%>
<% include ../module/_head %>
<body class="page--contact">
<% include ../module/_header %>
<div class="section">
  <div class="page-header">
    <h1 class="title--primary">CONTACT</h1>
  </div>
</div><!-- /.section -->

<div class="section">
    <p class="text text-desc">
    Miutt商品に関するお問い合わせや、<br>
    ユニゾンへのご依頼・ご相談など、お気軽にご連絡ください。<br>
    お見積りや柄作成に関するお問い合わせも、こちらより承ります。
    <br><br>
    お送りいただいた内容は、控えとしてお客様のメールアドレスにも送信されます。<br>
    その後、担当者より折り返しメールにてご連絡させていただきます。
    <br><br>
    <span class="text--red">＊</span>は必須項目です。<br>
    送信がうまくいかない場合は、お手数ですが<br>
    <a href="mailto:contact@miutt.jp">contact@miutt.jp</a>までメールをお送りください。
</p>

</div><!-- /.section__block -->
</div><!-- /.section -->


<div class="section">
<div class="section__block--short">


<form method="post" action="contact.cgi" name="form00" id="form00">
<!-- 入力確認画面をだす -->

<input type=hidden name="_check" value="1">
<input type=hidden name="_Name" value="お名前">
<input type=hidden name="_Company" value="会社名">
<input type=hidden name="_Email" value="E-mail">
<input type=hidden name="_Item" value="お問い合せ項目">
<input type=hidden name="_Etc" value="お問い合せ内容">

<div class="form">

    <div class="form__item form-input need">
        <input type="text" name="お名前" id="name" value="" placeholder="お名前">
    </div>

    <div class="form__item form-input">
        <input type="text" name="会社名" id="office" value="" placeholder="会社名">
    </div>

    <div class="form__item form-input need">
        <input type="email" name="E-mail" id="email" value="" placeholder="メールアドレス">
    </div>
    
    <div class="form__item form-radio">
        <p class="text text-lg">お問い合わせの項目<span class="text--red">＊</span>（どれか１つを選択してください）</p>
        <ul class="radio-list">
            <li><label><input type="radio" name="お問い合せ項目" value="Miutt商品について">Miutt商品について</label></li>
            <li><label><input type="radio" name="お問い合せ項目" value="Miutt商品の媒体使用、レンタル、スペシャルオーダーについて">Miutt商品の媒体使用、レンタル、スペシャルオーダーについて</label></li>
            <li><label><input type="radio" name="お問い合せ項目" value="ユニゾンへの企画・制作・柄作成のご依頼">ユニゾンへの企画・制作・柄作成のご依頼</label></li>
            <li><label><input type="radio" name="お問い合せ項目" value="お見積りのご依頼">お見積りのご依頼</label></li>
        </ul>
    </div>

    <div class="form__item form-textarea">
        <p class="text text-lg text--pd">
お問い合わせ内容・ご質問などをご記入ください<span class="text--red">＊</span><br>
（お取引に関する場合は店名もお書き添えください）
        </p>
        <textarea name="お問い合せ内容" id="message" cols="80" rows="10"></textarea>
    </div>
    
    <p class="text text-lg text--pd">
ご入力いただき、ありがとうございました。<br>
上記の内容でよろしければ<br>
下記の確認ボタンを押してください。
    </p>

    <div class="form__item form-btn">
        <input type="submit" name="submit" value="確認 / CHECK">
    </div>

</div><!-- /.form -->

</form>

</div><!-- /.section__block -->
</div><!-- /.section -->



<% include ../module/_footer %>

</body>
</html>
