<div class="footer">
  <div class="footer__block">
    <div class="footer__logo"><img src="/assets/img/logo-footer.png"></div>
    <div class="footer__copyright">©Miutt／UNISON 
      <script type="text/javascript">
        <!--
          dd = new Date();
          yy = dd.getYear();
          if (yy < 2000) { yy += 1900; }
          document.write(yy)
        //--> 
        </script>
     ALL Rights Reserved. 「Miutt」はユニゾンの登録商標です。</div>
  </div>
    <div class="btn-top"><img src="/assets/img/page-top.png"></div>

</div>