<div class="footer">
  <div class="footer__copyright">©
    <script type="text/javascript">
      <!--
        dd = new Date();
        yy = dd.getYear();
        if (yy < 2000) { yy += 1900; }
        document.write(yy)
      //--> 
      </script>
     FEEL AND TASTE, SORA styles inc.  All Rights Reserved.   当サイトの内容、テキスト、画像等の無断転載・無断使用を禁止します。
  </div>
</div>