  <div class="header">
    <div class="header__inner">
      <div class="js-hook-menu btn-burger">
        <span class="btn-burger__icon"></span>
      </div>

      <div class="gloval-nav">
        <div class="gloval-nav__inner">
          <a href="index.html" class="gloval-nav__item"><span>HOME</span></a>
          <a href="brand.html" class="gloval-nav__item"><span>BRAND profile</span></a>
          <a href="about.html" class="gloval-nav__item"><span>ABOUT</span></a>
          <a href="http://news.miutt.jp/" target="_blank" class="gloval-nav__item"><span>NEWS BLOG</span></a>
          <a href="stock.html" class="gloval-nav__item"><span>STOCKISTS</span></a>
          <a href="https://www.instagram.com/miuttofficialaccount/" target="_blank" class="gloval-nav__item"><span>INSTAGRAM</span></a>
          <a href="https://www.facebook.com/Miutt.world/" target="_blank" class="gloval-nav__item"><span>Facebook</span></a>
          <a href="contact.html" class="gloval-nav__item"><span>CONTACT</span></a>
        </div><!-- /.gloval-nav__inner -->
      </div><!-- gloval-nav -->

    </div><!-- /.header__inner -->
  </div><!-- /.header -->