<!DOCTYPE html>
<html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
<head>
<title><%= data.title %></title>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="keywords" content="<%= data.keyword %>" />
<meta name="description" content="<%= data.desc %>" />
<meta id="dviewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">

<link rel="shortcut icon" href="miutt.ico" type="image/ico" />

<meta content="miutt" property="og:title" />
<meta content="article" property="og:type" />
<meta content="" property="og:url" />
<meta content="#" property="og:image" />
<meta content="" />
<meta content="miutt" property="og:site_name" />

<link href="assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script src=assets/js/default.js></script>

</head>