  <div class="header">
    <div class="header__inner">
      <div class="js-hook-menu btn-burger">
        <span class="btn-burger__icon"></span>
      </div>

      <div class="gloval-nav">
        <div class="gloval-nav__inner">
          <a href="/index.html#section1" class="gloval-nav__item"><span>TOP</span></a>
          <a href="/index.html#section5" class="gloval-nav__item"><span>STORY</span></a>
          <a href="/index.html#section8" class="gloval-nav__item"><span>NEW COLLECTION</span></a>
          <a href="/index.html#section10" class="gloval-nav__item"><span>ARCHIVES</span></a>
          <a href="/index.html#section12" class="gloval-nav__item"><span>ABOUT</span></a>
          <a href="/contact/" class="gloval-nav__item"><span>CONTACT</span></a>
        </div><!-- /.gloval-nav__inner -->
        <div class="btns">
          <a class="btn-sns btn-sns--facebook" href="https://www.facebook.com/FEEL-AND-TASTE-217635088638965/" target="_blank"><i class="icon-facebook"></i></a>
          <a class="btn-sns btn-sns--inst" href="https://www.instagram.com/feelandtaste_sorastyles/" target="_blank"><i class="icon-instagram"></i></a>
          <a class="btn-sns btn-sns--shop" href="http://feelandtaste.net/" target="_blank"><i class="icon-cart"></i></a>
        </div><!-- /.btn-group -->
      </div><!-- gloval-nav -->

    </div><!-- /.header__inner -->
  </div><!-- /.header -->