@charset "UTF-8";
/*
 arcives
 */

.arcives__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: auto;
  padding: 0 40px;
  @include media (sp) {
    padding: 0 10px;
  }
  @include media (wide) {
    max-width: 1160px;
    padding: 0 20px;
  }
  .arcive {
    display: block;
    width: calc((100% - 20px)/2);;
    margin: 0 0 24px 0;
    color: #333;
    transition: .2s;
    &:hover {
      .arcive__title {
        color: #72798a;
        border-bottom: 1px solid #72798a;
      }
    }
    @include media(sp) {
      &:not(:nth-child(2n)) {
        margin-right: 20px;
      }
    }
    @include media(tab){
      width: calc((100% - 120px)/3);
      &:not(:nth-child(3n)) {
        margin-right: 60px;
      }
    }
    .arcive__image {
      img {
        max-width: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover';
      }
    }
    .arcive__title {
      display: inline-block;
      padding: 4px 0 0;
      font-size: 21px;
      letter-spacing: 0.04em;
      border-bottom: 1px solid #000;
      @include media (sp) {
        font-size: 15px;
      }
    }
  }
}