@charset "UTF-8";
/*
 arcives
 */

.arcives__wrapper {
  max-width: 1160px;
  margin: auto;
  padding: 0 20px;
  .arcive {
    display: block;
    width: calc((100% - 20px)/2);;
    margin: 0 0 28px 0;
    color: #333;
    transition: .2s;
    &:hover {
      opacity: 0.7;
    }
    @include media(tab){
      width: calc((100% - 120px)/3);
    }
    .arcive__image {
      img {
        max-width: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover';
      }
    }
    .arcive__title {
      display: inline-block;
      padding: 4px 0 0;
      font-size: 21px;
      letter-spacing: 0.04em;
      border-bottom: 1px solid #000;
    }
  }
}