@charset "UTF-8";
/*
 footer
 */


.footer{
  &__block{
    display:flex;
    align-items: center;
    padding:0 0 12px 54px;
    @include media(sp) {
      padding:10px 20px;
    }
  }

  &__logo{
    width:83px;
    margin:0 10px 0 0;
    img{
      max-width:100%;
    }
    @include media(sp) {
      width:50px;
    }
  }
  &__copyright{
    flex: 1;
    @include font-size(13);
    letter-spacing: .08em;
    font-family: 'Droid Serif',"ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝";
    @include media(sp) {
      @include font-size(10);
    }
  }

}

.index .footer{
  position: fixed;
  width:100%;
  bottom:0;
  left:0;
  z-index:10;
}

.btn-top {
  position: fixed;
  bottom: -5px;
  right: 45px;
  width:116px;
  height:108px;
  z-index: 0;
  cursor:pointer;
  @include media(sp) {
    display:none;
  }
}