@charset "UTF-8";
/*
 footer
 */


.footer{
  background: #9ea5b2;
  padding:20px 0;
  @include media(sp) {
    padding:10px 20px;
  }
  &__copyright{
    @include font-size(13);
    letter-spacing: .08em;
    color: #3e495d;
    text-align: center;
    font-family: 'Droid Serif',"ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝";
    @include media(sp) {
      @include font-size(10);
    }
  }
}
