@charset "UTF-8";
/*
  gloval-nav
  説明：グローバルナビ
*/

.gloval-nav{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width:100vw;
  height:100vh;
  padding:0;
  text-align: center;
  transition: 0.3s;
  overflow-y: auto;
  background: #98a7b3;
  opacity: 0;

  &__inner{
    padding:130px 0 0 0;
    @include media(sp) {
      padding:50px 0 0 0;
    }
  }

  &__item{
    display:block;
    padding: 0 0 36px 0;
    @include font-size(24);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height:1.2;
    letter-spacing: .2em;
    text-indent: .3em;
    color:#fff;
    transition: .2s;

    @include media(sp) {
      text-align: center;
      padding: 20px 20px;
    }

    &:hover{
      color:#62798c;
    }
    &:visited{
      //color:#7185a0;
    }
  }

  //状態変化 ベースクラス名並記 .gloval-navが必要
  // メニューオープン
  &--open{
    display: block;
    opacity: 1;
    animation: fade-in .7s;
  }

  @keyframes fade-in {
    0% {
      display: none;
      opacity: 0;
    }

    1% {
      display: block;
      opacity: 0;
    }

    100% {
      display: block;
      opacity: 1;
    }
  }

  .btns {
    padding: 20px 0 0;
  }
}


