@charset "UTF-8";
/*
 header
 */

.header{

  //固定
  &__inner{
    width: 100%;
    position: fixed;
    z-index: 100;

    @include media(sp) {
      padding: 40px 0 0;
    }
  }
}


//snsボタン
.btn-group{
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 100;

  @include media(sp) {
    display:none !important;
  }
}
//バーガーメニュー
.btn-burger{
  position: absolute;
  top: calc(50vh + 150px);
  right: calc(50% - 15px);
  z-index: 100;
  transition: all .7s;

  &--top {
    top: 40px;
  }

  @include media(sp) {
    top: 15px;
    right: 15px;
  }
}

.page--contact .btn-burger{
  top: 40px;
}
