@charset "UTF-8";
/*
 header
 */

.header{

  //固定
  &__inner{
    width: 100%;
    padding: 50px 0 0;
    position: fixed;
    z-index: 100;

    @include media(sp) {
      padding: 40px 0 0;
    }
  }

  &__line{
    position:fixed;
    width:100%;
    height:27px;
    background:url(../img/line-header.png) 0 0 no-repeat;
    z-index: 100;
    @include media(sp) {
      top:-5px;
      left:-5px;
      z-index: 10;
    }
  }
}


//snsボタン
.header .btn-group{
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 100;

  @include media(sp) {
    display:none !important;
  }
}
//バーガーメニュー
.header .btn-burger{
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 100;

  @include media(sp) {
    top: 15px;
    right: 15px;
  }
}
