@charset "UTF-8";
/*
  image
 */
img {
  vertical-align: bottom;
}
.image-full{
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover';
  @include media(sp){
    height: auto;
  }
}

.image-wide {
  max-width: 1280px;
  margin: auto;
  img {
    max-width: 100%;
  }
}

.image-mw100 {
  max-width: 100%;
}

