@charset "UTF-8";
/*
  page-header
  説明：大枠レイアウト用
 */

 .page-header{
    @include media(tab) {
      padding:225px 0 0 0;
    }
    @include media(sp) {
      padding:160px 0 0 0;
    }

  &__ph{
    padding:0 20px;
    text-align: center;
    img{
      max-width: 100%;
    }
  }

 }