@charset "UTF-8";
/*
  section
  説明：大枠レイアウト用
 */


 // ベース
 .fp-responsive .fp-auto-height-responsive.fp-section,
 .fp-responsive .fp-auto-height-responsive .fp-slide,
 .fp-responsive .fp-auto-height-responsive .fp-tableCell {
     height: auto !important;
 }
 
.section,
.fp-section {
  .fp-tableCell {
    display: block;
  }
}
 // 個別
.section--top {
  .logo__wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.story {
  width: 96%;
  height: 100%;
  margin: auto;
  padding: 20px 20px 0;
  background: #dbdedf;
  @include media(tab) {
    padding: 80px 40px;
  }
  @include media(pc) {
    padding: 120px 120px 80px 120px;
  }
  .text {
    margin-bottom: 40px;
  }
}

.section--story-eng,
.section--story-eng-continuance {
  .story {
    background: #c5cace;
    .text {
      margin-bottom: 36px;
      color: #fff;
      font-size: 17px;
      line-height: 28px;
    }
  }
}

.section--story-eng-continuance {
  .story {
    height: auto;
    padding: 0 20px 20px;
    margin-bottom: 0;
    @include media(tab) {
      padding: 80px 40px;
    }
    @include media(pc) {
      padding: 120px 120px 80px 120px;
      margin-bottom: 80px;
    }
  }
}

.section--new-collection {
  padding-top: 120px;
  @include media(sp){
    padding-top: 55px;
  }
}
.section--archives-continuance {
  .arcives__wrapper {
    padding: 120px 0 0;
    @include media(sp){
      padding: 0 20px 20px;
    }
  }
}
.section--more {
  padding-top: 120px;
  @include media(sp){
    padding-top: 60px;
  }
  .more {
    padding: 20px 80px 20px;
    background: #d6d3d3;
    @include media(sp){
      padding: 20px;
      justify-content: center;
    }
    .col.l1 {
      padding: 20px 0 5px;
    }
    .more__anchor {
      display: inline-block;
      border-bottom: 1px solid #fff;
      color: #fff;
      font-style: italic;
      letter-spacing: .4em;
    }
  }
}
  