@charset "UTF-8";
/*
  section
  説明：大枠レイアウト用
 */


 // ベース
 .section {
   //
 }
.section--df {
}
 // 個別
.section--1 {
  .logo__wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}