@charset "UTF-8";
/*
  title
 */

.title{
  margin: 0 auto;
  &--primary {

  }
  &--secondary {
    font-weight: 400;
    letter-spacing: .2em;
    margin: 1em 0 1.5em;
  }

  &--imgtxt {
    span {
      display: none;
    }
    img {
      max-width: 100%;
    }
  }
  &--story {
    font-size: 16px;
    width: 17em;
    margin: 0 0 60px;
  }
  &--story-eng {
    display: inline-block;
    margin-bottom: 40px;
    font-size: 20px;
    color: #ffffff;
    font-style: italic;
    border-bottom: 1px solid #fff;
  }
  &--new-collection {
    width: 307px;
    margin: 40px auto;
    img {
      max-width: 100%;
    }
  }
  &--archives {
    width: 193px;
    margin: auto;
    padding: 40px 0;
    @include media(tab) {
      padding: 60px 0;
    }
    @include media(pc) {
      padding: 100px 0;
    }
    span {
      display: none;
    }
  }
  &--about {
    width: 120px;
    margin: auto;
    padding: 20px 0;
    align-self: center;
  }
  &--footer-logo {
    width: 215px;
    margin: 0 0 30px;
  }
  &--contact {
    width: 264px;
    margin: 0 auto 40px;
  }
}

