@charset "UTF-8";
/*
  title
 */

.title{
  margin: 0;
  &--imgtxt {
    span {
      display: none;
    }
    img {
      max-width: 100%;
    }
  }
  &--story {
    font-size: 16px;
    width: 17em;
    margin-bottom: 60px;
  }
  &--story-eng {
    display: inline-block;
    margin-bottom: 40px;
    font-size: 20px;
    color: #ffffff;
    font-style: italic;
    border-bottom: 1px solid #fff;
  }
  &--new-collection {
    width: 75%;
    margin: 40px auto;
    @include media(tab) {
      width: 50%;
    }
    @include media(pc) {
      width: 33%;
    }
    img {
      max-width: 100%;
    }
  }
  &--archives {
    width: 75%;
    margin: auto;
    padding: 40px 0;
    @include media(tab) {
      width: 50%;
      padding: 60px 0;
    }
    @include media(pc) {
      width: 28%;
      padding: 100px 0;
    }
    span {
      display: none;
    }
  }
  &--about {
    width: 75%;
    margin: auto;
    align-self: center;
    @include media(tab) {
      width: 50%;
    }
    @include media(pc) {
      width: 20%;
    }
  }
  &--footer-logo {
    width: 215px;
    margin-bottom: 30px;
  }
}

