
<%
var data = {
  title: 'FEEL AND TASTE edtion01',
  keyword: 'FEEL AND TASTE,カバン,通販',
  desc: 'FEEL AND TASTE description'
};
%>
<% include module/_head %>
<body class="page--edition">

  <% include module/_header %>
    
  <div id="fullpage">
    <div class="section section--edition fp-auto-height-responsive">
      <div class="edition__top">
          <div class="edition__image">
              <img src="assets/image/edition/02/edition02-01.jpg" alt="FEELANDTASTE" class="image-full">
          </div>
          <div class="edition__body">
            <div class="logo">
                <img src="assets/image/logo.png" alt="secours">
            </div>
            <h1 class="title title--edition">edition 02</h1>
          </div>
      </div>
    </div>
    <div class="section section--edition fp-auto-height-responsive">
        <img src="assets/image/edition/02/edition02-02.jpg" alt="FEELANDTASTE" class="image-full">
    </div>
    <div class="section section--edition fp-auto-height-responsive">
        <img src="assets/image/edition/02/edition02-03.jpg" alt="FEELANDTASTE" class="image-full">
    </div>
    <div class="section section--edition fp-auto-height-responsive">
        <img src="assets/image/edition/02/edition02-04.jpg" alt="FEELANDTASTE" class="image-full">
    </div>
    <div class="section section--edition fp-auto-height-responsive">
        <img src="assets/image/edition/02/edition02-05.jpg" alt="FEELANDTASTE" class="image-full">
    </div>
    
  </div>

  <% include module/_footer %>
</body>
</html>
