
<% include module/_head %>
<body class="index">

  <% include module/_header %>
    
  <div id="fullpage">
    <div class="section section--1">
      <div class="logo__wrapper">
        <h1 class="logo"><a href="index.html"><img src="assets/image/logo.png" alt="secours"></a></h1>
      </div>
      <div class="btn-group"><!-- btnコンポーネント -->
        <a class="btn-sns btn-sns--facebook" href="https://www.facebook.com/Miutt.world/" target="_blank">FB</a>
        <a class="btn-sns btn-sns--inst" href="https://www.instagram.com/miuttofficialaccount/" target="_blank">INST</a>
      </div>
    </div>
    <div class="section">Some section</div>
    <div class="section">Some section</div>
    <div class="section">Some section</div>
  </div>

  <% include module/_footer %>
</body>
</html>
